.projects-section {
  padding: 0 16px;
  .header-projects-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 80px;
    .projects-row {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}

@media (min-width: 768px) {
  .projects-section {
    padding: 0 32px;
    .header-projects-section {
      margin-bottom: 60px;
    }

    .projects {
      margin-bottom: 100px;
      .projects-row {
        display: flex;
        flex-direction: row;
        gap: 24px;

        .project {
          flex: 1;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .projects-section {
    .header-projects-section {
      margin-bottom: 80px;
    }

    .projects {
      margin-bottom: 140px;
    }
  }
}

@media (min-width: 1200px) {
  .projects-section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0;
  }
}