.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  max-width: 445px;

  .input {
    padding-left: 24px;
    padding-bottom: 16px;
    border: 0;
    border-bottom: 1px solid var(--color-white);
    background: transparent;
    width: 100%;
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 26px;
    &:focus {
      outline: none;
      border-bottom: 1px solid var(--color-green);
    }

    &::placeholder {
      color: var(--color-white);
      opacity: 0.5;
      text-transform: uppercase;
    }

    &.input-error {
      border-bottom: 1px solid var(--color-red);
      color: var(--color-white);
      font-size: 16px;
      line-height: 26px;
    }
  }

  .input-error {
    padding-top: 6px;
    font-size: 12px;
    line-height: 16px;
    color: var(--color-red);
  }
}