.header {
  margin-bottom: var(--space-300);
  .developer-name {
    text-align: center;
    padding: var(--space-250) 0;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    gap: var(--space-300);

    .social-icon {
      width: var(--space-250);
      height: var(--space-250);
      cursor: pointer;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-400) var(--space-400) 0 var(--space-400);
    max-width: 1100px;
    margin: 0 auto var(--space-300);

    .developer-name {
      padding: 0;
      text-align: left;
      font-size: var(--space-400);
      line-height: var(--space-400);
    }
  }
}

@media (min-width: 1200px) {
  .header {
    padding: var(--space-400) 0 0;
  }
}