.button {
  padding: 0;
  border: 0;
  border-bottom: 2px solid var(--color-green);
  background: transparent;
  cursor: pointer;
  padding-bottom: 8px;
  max-width: 130px;
  :hover {
    color: var(--color-green);
  }
}