* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

:root {
  /* Font */
  --font-primary: 'Space Grotesk', sans-serif;

  /* Colors */
  --color-black: #151515;
  --color-dark-grey: #242424;
  --color-green: #4EE1A0;
  --color-red: #FF6F5B;
  --color-grey: #d9d9d9;
  --color-white: #ffffff;

  /* Spacing scale */
  --space-50: 4px;
  --space-100: 8px;
  --space-200: 16px;
  --space-250: 20px;
  --space-300: 24px;
  --space-400: 32px;
  --space-500: 40px;
  --space-700: 56px;
  --space-800: 64px;
  --space-900: 72px;
  --space-1000: 80px;
  --space-1400: 112px;
}